<%= simple_form_for(@playlist, url: @playlist.persisted? ? admin_playlist_path : admin_playlists_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :link %>
    <%= f.input :hidden %>
    <%= f.association :speakers %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
