<div id="<%= dom_id playlist %>">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card overflow-hidden">
        <div class="card-body">
          <div class="d-flex justify-content-between align-middle">
            <div>
              <h5 class="card-title"><i class="bi bi-collection-play-fill"></i> <%= playlist.title %></h5>
              <span class="card-subtitle mb-2 text-wrap text-muted"><%= playlist.description %></span>
            </div>

            <div class="text-nowrap">
              <%= link_to '<i class="bi bi-box-arrow-up-left"></i>'.html_safe, playlist.link, class: 'btn btn-sm btn-outline-primary', target: '_blank' %>
              <%= link_to '<i class="bi bi-pencil-fill"></i>'.html_safe, edit_admin_playlist_path(playlist), class: 'btn btn-sm btn-outline-success' %>
              <%= link_to '<i class="bi bi-trash-fill"></i>'.html_safe,
                admin_playlist_path(playlist),
                method: :delete,
                data: {
                  confirm: t('are_you_sure'),
                  turbo_method: :delete,
                  turbo_confirm: t('are_you_sure')
                },
                class: 'btn btn-sm btn-outline-danger' %>
            </div>
          </div>

          <hr style="margin-right: -1rem; margin-left: -1rem;">

          <div class="row">
            <div class="col">
              <p class="mb-0 text-muted"><%= t('attributes.tag_list') %></p>
              <p><%= playlist.tag_list %></p>

              <p class="mb-0 text-muted"><%= t('attributes.created_by') %></p>
              <p><%= playlist.user.name %></p>

              <p class="mb-0 text-muted"><%= t('attributes.created_at') %></p>
              <p><%= playlist.created_at %></p>
            </div>

            <div class="col">
              <p class="mb-0 text-muted"><%= t('attributes.appears') %></p>
              <p><%= (playlist.hidden ? '<i class="bi bi-x-circle-fill text-danger"></i>' : '<i class="bi bi-check-circle-fill text-success"></i>').html_safe %></p>

              <p class="mb-0 text-muted"><%= t('attributes.cues') %></p>
              <p><%= playlist.cues.count %></p>

              <p class="mb-0 text-muted"><%= t('attributes.updated_at') %></p>
              <p><%= playlist.updated_at %></p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <p class="text-muted"><%= t('attributes.speakers') %> (<%= playlist.speakers.count %>)</p>

              <div class="table-responsive border border-bottom-0 rounded">
                <table class="table table-hover mb-0 text-nowrap align-middle">
                  <thead>
                    <tr>
                      <% t('admin.templates.index.speakers.attributes').each do |attribute| %>
                        <th scope="col"><%= t("attributes.#{attribute}") %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% playlist.speakers.includes(%i[taggings user]).each do |speaker| %>
                      <%= render 'admin/speakers/speaker_row', record: speaker %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="text-muted"><%= t('attributes.media') %> (<%= playlist.media.count %>)</p>

              <div class="table-responsive border border-bottom-0 rounded">
                <table class="table table-hover mb-0 text-nowrap align-middle">
                  <thead>
                    <tr>
                      <% t('admin.templates.index.media.attributes').each do |attribute| %>
                        <th scope="col"><%= t("attributes.#{attribute}") %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% playlist.media.includes([{ transcript_attachment: :blob }, :taggings, :speakers, :user]).each do |medium| %>
                      <%= render 'admin/media/medium_row', record: medium %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
