<tr class="align-middle">
  <th scope="row"><%= record.id %></th>
  <td><%= link_to record.title, admin_playlist_path(record) %></td>
  <td><%= link_to '<i class="bi bi-box-arrow-up-left"></i>'.html_safe, record.link, class: 'btn btn-sm btn-outline-primary', target: '_blank' %></td>
  <td><%= record.tag_list %></td>
  <td><%= (record.hidden ? '<i class="bi bi-x-circle-fill text-danger fs-4"></i>' : '<i class="bi bi-check-circle-fill text-success fs-4"></i>').html_safe %></td>
  <td><%= speakers_to_links(record.speakers).join(t('joiner')).html_safe %></td>
  <td><%= record.user.name %></td>
  <td><%= record.created_at %></td>
  <td><%= record.updated_at %></td>
  <td><%= link_to '<i class="bi bi-pencil-fill"></i>'.html_safe, edit_admin_playlist_path(record), class: 'btn btn-sm btn-outline-success' %></td>
  <td>
    <%= link_to '<i class="bi bi-trash-fill"></i>'.html_safe,
      admin_playlist_path(record),
      method: :delete,
      data: {
        confirm: t('are_you_sure'),
        turbo_method: :delete,
        turbo_confirm: t('are_you_sure')
      },
      class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>
