<div id="<%= dom_id playlist %>">
  <p>
    <strong>Title:</strong>
    <%= playlist.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= playlist.description %>
  </p>

  <p>
    <strong>Speakers:</strong>
    <%= playlist.speaker_ids %>
  </p>

  <p>
    <strong>User:</strong>
    <%= playlist.user_id %>
  </p>

</div>
