<%= simple_form_for(@speaker, url: @speaker.persisted? ? admin_speaker_path : admin_speakers_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :tag_list, input_html: { value: f.object.tag_list.join('، ') } %>
    <%= f.input :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
