<div id="<%= dom_id speaker %>">
  <p>
    <strong>Name:</strong>
    <%= speaker.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= speaker.description %>
  </p>

  <p>
    <strong>Tag List:</strong>
    <%= speaker.tag_list %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= speaker.hidden %>
  </p>

  <p>
    <strong>Media:</strong>
    <%= speaker.medium_ids %>
  </p>

  <p>
    <strong>Playlists:</strong>
    <%= speaker.playlist_ids %>
  </p>

  <p>
    <strong>User:</strong>
    <%= speaker.user_id %>
  </p>

</div>
