<div id="<%= dom_id medium %>">
  <p>
    <strong>Title:</strong>
    <%= medium.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= medium.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= medium.duration %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= medium.link %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= medium.source %>
  </p>

  <p>
    <strong>Producer:</strong>
    <%= medium.producer %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= medium.provider %>
  </p>

  <p>
    <strong>Transcript:</strong>
    <%= link_to medium.transcript.filename, rails_blob_path(medium.transcript, disposition: 'preview') %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= medium.hidden %>
  </p>

  <p>
    <strong>Playlist:</strong>
    <%= medium.playlist_id %>
  </p>

  <p>
    <strong>Speakers:</strong>
    <%= medium.speaker_ids %>
  </p>

  <p>
    <strong>User:</strong>
    <%= medium.user_id %>
  </p>

</div>
