<div id="<%= dom_id medium %>">
  <p>
    <strong>Title:</strong>
    <%= medium.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= medium.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= medium.duration %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= medium.link %>
  </p>

  <p>
    <strong>Playlist:</strong>
    <%= medium.playlist_id %>
  </p>

  <p>
    <strong>Speakers:</strong>
    <%= medium.speaker_ids %>
  </p>

  <p>
    <strong>User:</strong>
    <%= medium.user_id %>
  </p>

</div>
