<div id="<%= dom_id cue %>">
  <p>
    <strong>Content:</strong>
    <%= cue.content %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= cue.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= cue.end_time %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= cue.hidden %>
  </p>

  <p>
    <strong>Medium:</strong>
    <%= cue.medium_id %>
  </p>

  <p>
    <strong>Playlist:</strong>
    <%= cue.playlist_id %>
  </p>

  <p>
    <strong>Speakers:</strong>
    <%= cue.speaker_ids %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cue.user_id %>
  </p>

</div>
