<tr class="align-middle">
  <th scope="row"><%= record.id %></th>
  <td><%= link_to record.truncated_content, admin_cue_path(record) %></td>
  <td><%= seconds_to_hh_mm_ss(record.start_time) %></td>
  <td><%= seconds_to_hh_mm_ss(record.end_time) %></td>
  <td><%= link_to record.medium.title, admin_medium_path(record.medium) %></td>
  <td><%= link_to record.playlist.title, admin_playlist_path(record.playlist) %></td>
  <td><%= speakers_to_links(record.speakers).join(t('joiner')).html_safe %></td>
  <td><%= record.user.name %></td>
  <td><%= local_time record.created_at, :long %></td>
  <td><%= local_time record.updated_at, :long %></td>
  <td><%= link_to '<i class="bi bi-pencil-fill"></i>'.html_safe, edit_admin_cue_path(record), class: 'btn btn-sm btn-outline-success' %></td>
  <td>
    <%= link_to '<i class="bi bi-trash-fill"></i>'.html_safe,
      admin_cue_path(record),
      method: :delete,
      data: {
        confirm: t('are_you_sure'),
        turbo_method: :delete,
        turbo_confirm: t('are_you_sure')
      },
      class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>
