
<%= simple_form_for(@cue, url: @cue.persisted? ? admin_cue_path : admin_cues_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :start_time, as: :integer %>
    <%= f.input :end_time, as: :integer %>
    <%= f.input :hidden %>
    <%= f.association :medium %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
